@import url(/node_modules/bootstrap-print-css/css/bootstrap-print.min.css);
@import url(PrintStyles.css);
body {
  font-family: "Gotham SSm A", "Gotham SSm B";
}

.logo {
  padding: 0;
  width: 14rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.1rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 5vh;
  background: #131f33;
  color: white;
}

nav #navbarSupportedContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav #navbarSupportedContent > div > div > h1 {
  display: none;
}

nav #navbarSupportedContent > div > div.active > h1 {
  display: block;
  font-size: 1.25rem;
  margin: 0.15em 0em;
}

.navbar-brand {
  padding: 0 3rem 0 0.9rem;
}

.navBar {
  margin-bottom: 1em;
}

.navbar {
  padding: 0.7em 1em;
  margin-bottom: 1em;
}

.printHeader h1 {
  display: none;
}

div.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.active h1 {
  display: block;
  font-size: 1.5rem;
  margin: 1em;
}

.verticalCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flexBasis {
  -ms-flex-preferred-size: content;
  flex-basis: content;
}

.row {
  margin-bottom: 1em;
}

.maxWidth {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100% !important;
}

h3 {
  background-color: #ccc;
  padding: 4px;
  padding: 0.25rem;
}

.dollarAmount .dateField {
  border: solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.dollarAmount .dateField .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  top: -10px;
}

.dollarAmount .dateField fieldset {
  border: none;
}

span.lineUp,
.lineUp {
  font-weight: normal;
}

.rightLabel,
span.lineUp,
.lineUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media only screen and (min-device-width: 600px) {
  .rightLabel,
  span.lineUp,
  .lineUp {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-align: right;
    min-width: 250px !important;
  }
}

@media only print {
  .rightLabel,
  span.lineUp,
  .lineUp {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.resultItems li {
  border: none;
}

.resultItems .row {
  margin-bottom: 0;
}

.resultItems .results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .resultItems .row {
    margin-bottom: 0.5em;
  }
}

span.normal {
  font-weight: bold;
  padding: 0em 1em;
  width: 200px;
  overflow: auto;
}

.headerPrint {
  display: none;
}

.rdbld {
  font-weight: bold;
  color: red;
}

.PhoneInput {
  border: solid 1px #cccccc;
  padding: 14.4px;
  padding: 0.9rem;
  border-radius: 4px;
}

.PhoneInput .PhoneInputInput {
  border: none;
}

.PhoneInputInput :focus-visible {
  border: none;
}

label#mui-11-label {
  top: -12.8px;
  top: -0.8rem;
}

.addressSpace {
  margin-left: 0.8px;
  margin-left: 0.05rem;
}

.btn-primary {
  background-color: #131f33;
}

.addButton {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.addButtonIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #131f33;
}

.MuiButton-sizeMedium.MuiButton-containedSizeMedium,
button,
.buttonClass {
  background-color: #131f33;
}

.end-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.dollarAmount input {
  text-align: right;
  padding-right: 4px;
  padding-right: 1rem;
}

.dollarAmountLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.desigColTitle {
  margin-left: 5em;
}

@media only screen and (max-device-width: 600px) {
  .desigColTitle {
    margin-left: 0em;
  }
}

@media only print {
  .desigColTitle {
    margin-bottom: 0;
  }
}

@media only screen and (min-device-width: 600px) {
  .hideForPrint {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only print {
  .hideForPrint {
    display: none;
  }
}

.singular-offset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.singular-offset .colOne {
  width: 50%;
}

.singular-offset .rightLabel {
  padding-right: 1.25em;
}

.giftTotal {
  min-width: 100px;
}

.d-print-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.longName {
  display: block;
  width: 250px;
}

.totals {
  width: 175px;
  margin-left: 20px;
  margin-left: 1.25rem;
}

.css-1wc848c-MuiFormHelperText-root {
  position: absolute;
  left: 165px;
  width: 300px;
}

.hiddenText {
  display: none;
}

.d-print-table-cell.d-flex.justify-content-center {
  width: 550px;
  text-align: center;
}

.justify-col-tribute {
  position: relative;
  left: 0em;
}

.IsTributeNewAddressChecked {
  position: relative;
  left: 0em;
}

.centerColContent {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#contactPrint {
  text-align: left;
}

#contactPrint .rightLabel {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  min-width: -webkit-fit-content !important;
  min-width: -moz-fit-content !important;
  min-width: fit-content !important;
  padding: 0.5em;
}

#contactPrint .col .rightLabel {
  padding-right: 4rem;
}

#donationDate {
  min-width: 22rem !important;
}

.topBottomMargin {
  margin: 1em 0;
}
/*# sourceMappingURL=App.css.map */