.hiddenForPrint {
    display: none;
}
h1 {
    text-align: center;
}
.d-print-table-cell {
    width: 575px;
    padding-left: 1rem;
}

.rightLabel {
    width: 200px !important;
    justify-content: flex-end !important;
}
