.hiddenForPrint {
    display: none;
}
h1 {
    text-align: center;
}

.d-print-table-cell {
    width: 50%;
    padding-left: 1rem;
}

.rightLabel {
    justify-content: flex-end !important;
}

.wrapCellContent {
    width: 80px;
}

.totals {
    width: 195px;
}
